<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll">
      <div class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="navbar-brand page-scroll">Mon appli AngularJS</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active"> <a href="#page-top"></a> </li>
        <li ui-sref-active="active"><a class="page-scroll" ui-sref="cellar">Ma Cave</a></li>
        <li ui-sref-active="active"><a class="page-scroll" ui-sref="discover">A découvrir</a></li>
        <li ui-sref-active="active"><a class="page-scroll" ui-sref="food">Accord Mets/Vins</a></li>
      </ul>
    </div>
  </div>
</nav>
