<div ng-transclude></div>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-6">
          <img ng-src="{{$ctrl.wine.pic}}" class="img-responsive header-elt" alt="">
        </div>
        <div class="col-md-6">
            <wine-rating class="header-elt" style="float:left" rating="$ctrl.wine.rating"><wine-rating>
            <p class="help-block text-danger"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="wineForm" id="contactForm" novalidate>
          <input class="form-control" name="rating" ng-model="$ctrl.wine.rating" ng-show="false" required>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" name="name" ng-model="$ctrl.wine.name" placeholder="Nom *" type="text" required>
                <p ng-show="wineForm.name.$invalid && !wineForm.name.$pristine" class="help-block text-danger">Le nom est obligatoire</p>
              </div>
              <div class="form-group">
                <!-- changement de hierarchie -->
                <input class="form-control" name="region" ng-model="$ctrl.wine.appellation.region" placeholder="Region *" type="text" required="">
                <p ng-show="wineForm.region.$invalid && !wineForm.region.$pristine" class="help-block text-danger">La région est obligatoire</p>
              </div>
              <div class="form-group">
                <input class="form-control" name="date" ng-model="$ctrl.wine.date"  max-length="4" min="1900" max="2100" placeholder="Millésime *" type="number" required >
                <p ng-show="wineForm.date.$error.required && !wineForm.date.$pristine" class="help-block text-danger">Le millésime est obligatoire</p>
                <p ng-show="(wineForm.date.$error.min || wineForm.date.$error.max) && !wineForm.date.$pristine" class="help-block text-danger">Le millésime est une date entre 1900 et 2100</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" name="comment" ng-model="$ctrl.wine.comment" placeholder="{{$ctrl.wine.rating, plural, =0 { Ce vin ne mérite rien } =1 { Ce vin ne mérite qu'une étoile. } other { Ce vin mérite ses # étoiles. }}}"></textarea>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div class="btn-group" role="group">
                <button class="btn btn-xl" ng-click="$ctrl.cancel()">Annuler</button>
                <button class="btn btn-xl" ng-click="$ctrl.save({wine: $ctrl.wine})" ng-disabled="wineForm.$invalid">Ayé !</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
